<app-bar-page [namePage]="'MESSAGING'"></app-bar-page>
<div class="">
    <div fxLayout="row {{ utils.checkWidth720 ? 'wrap' : '' }}"
        fxLayoutGap="{{ utils.checkWidth720 ? '0px' : '25px' }}">
        <div fxFlex="{{ utils.checkWidth720 ? '100%' : '300px' }}">
            <app-chat-people (usuarioSelected)="usuarioSelected($event)"></app-chat-people>
        </div>
        <div fxFlex="100%">
            <div class="content-messaging" [ngClass]="{ 'noChat' : !curUsuarioDestino }">
                <div class="head-msg" *ngIf="curUsuarioDestino">
                    <!-- 
                    <span class="closeChat" matRipple (click)="closeChat()">
                        <mat-icon>close</mat-icon>
                    </span>
                    -->
                    <span class="prof-pic">
                        <img *ngIf="curUsuarioDestino.foto"
                            [src]="routeFotoPerfil + curUsuarioDestino.foto + '?alt=media'" />
                        <img *ngIf="!curUsuarioDestino.foto" [src]="routeFotoPerfil + 'add-profile.jpg?alt=media'">
                    </span>
                    <span class="info">
                        <span class="prof-name">{{ curUsuarioDestino.detalle }}</span>
                        <span class="prof-extra">{{ curUsuarioDestino.summary }}</span>
                    </span>
                </div>
                <div class="list-messages">
                    <div *ngIf="curUsuarioDestino?.mensajes.length > 0">
                        <ng-container
                            *ngFor="let msg of curUsuarioDestino?.mensajes | paginate: { itemsPerPage: 4, currentPage: p }">
                            <app-message-people [data]="msg"></app-message-people>
                        </ng-container>
                    </div>
                    <p class="noChatText" *ngIf="!curUsuarioDestino">Find a connection and start messaging.</p>
                </div>

            </div>
            <div class="pagination" *ngIf="curUsuarioDestino?.mensajes.length > 4">
                <pagination-controls (pageChange)="p = $event" [responsive]="true" [directionLinks]="true"
                    [previousLabel]="'Previous'" [nextLabel]="'Next'">
                </pagination-controls>
            </div>
            <div class="mt-30 write-feed" *ngIf="curUsuarioDestino">
                <mat-form-field appearance="outline" class="full">
                    <textarea matInput maxlength="1000" [(ngModel)]="publishText" style="height:60px"
                        placeholder="Leave a message"></textarea>
                </mat-form-field>
                <div class="action">
                    <span class="countint">
                        {{ publishText.length }}/1000</span>
                    <button mat-stroked-button class="btn btn-light-filled" (click)="postMessage()">
                        SEND
                        <i class="fad fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>