<app-bar-page [namePage]="ln.o('MESSAGINGTX')"></app-bar-page>
<div class="">
    <div fxLayout="row {{ utils.checkWidth720 ? 'wrap' : '' }}"
        fxLayoutGap="{{ utils.checkWidth720 ? '0px' : '25px' }}">
        <div fxFlex="{{ utils.checkWidth720 ? '100%' : '300px' }}">
            <app-chat-people (usuarioSelected)="usuarioSelected($event)"></app-chat-people>
        </div>
        <div fxFlex="100%">
            <div class="content-messaging" [ngClass]="{ 'noChat' : !curUsuarioDestino }">
                <div class="head-msg" *ngIf="curUsuarioDestino">
                    <span class="prof-pic">
                        <img *ngIf="curUsuarioDestino.foto"
                            [src]="routeFotoPerfil + curUsuarioDestino.foto + '?alt=media'" />
                        <img *ngIf="!curUsuarioDestino.foto" [src]="routeFotoPerfil + 'add-profile.jpg?alt=media'">
                    </span>
                    <span class="info">
                        <span class="prof-name">{{ curUsuarioDestino.detalle }}</span>
                        <span class="prof-extra">{{ curUsuarioDestino.summary }}</span>
                    </span>
                </div>
                <div class="list-messages" [ngClass]="{ 'centerFlex' : !curUsuarioDestino, 'hide' : !loadingChat }" id="chatList">
                    <div id="contMessage">
                        <div *ngIf="curUsuarioDestino?.mensajes?.length > 0">
                            <ng-container
                                *ngFor="let msg of curUsuarioDestino?.mensajes; let i = index">
                                <app-message-people [from]="'CHAT'" [data]="msg"></app-message-people>
                            </ng-container>
                        </div>
                    </div>

      
                </div>
                <p class="noChatText" *ngIf="!curUsuarioDestino">{{ ln.o('FINDCONCHAT')}}</p>

                <div *ngIf="curUsuarioDestino" class="write-feed">
                    <mat-form-field appearance="outline" class="full">
                        <textarea matInput maxlength="1000" [(ngModel)]="publishText" style="height:60px" id="inputText"
                            placeholder="{{ ln.o('LEAVECHAT')}}"></textarea>
                    </mat-form-field>
                    <app-emojis-picker (emojiSelected)="emojiSelected($event)" *ngIf="displayEmoji"></app-emojis-picker>

                    <div class="action">
                        <span class="countint">
                            {{ publishText.length }}/1000</span>
                            <div>
                                <button mat-icon-button class="btn isEmojiBtn" (click)="showEmojis()">
                                    <i class="fal fa-smile-beam"></i>
                                </button>
                                <button mat-stroked-button class="btn btn-light-filled" (click)="postMessage()">
                                    {{ ln.o('SENDTX')}}
                                    <i class="fad fa-paper-plane"></i>
                                </button>
                            </div>
                        
                    </div>
                </div>
            </div>
            
        </div>


    </div>
</div>
<app-footer></app-footer>