
<div class="" >
    <div fxLayout="row {{ utils.checkWidth720 ? 'wrap' : '' }}" fxLayoutGap="{{ utils.checkWidth720 ? '0px' : '25px' }}">
        <div fxFlex="100%">
            <ng-container *ngTemplateOutlet="curView === 'view' ? view : create"></ng-container>
        </div>
        <div fxFlex="{{ utils.checkWidth720 ? '100%' : '300px' }}">
            <app-articles-suggestion></app-articles-suggestion>
            <app-bar-picture></app-bar-picture>
        </div>
    </div>
</div>
<app-footer></app-footer>

<ng-template #view>
    <div class="padtb">
        <span class="iftext" [routerLink]="['/home/articles']">
            <i class="fal fa-arrow-left"></i>
            {{ ln.o('RETARTIX') }}
        </span>
        <div class="loader" *ngIf="loading">
            <mat-progress-spinner [diameter]="60" mode="indeterminate" color="primary">
            </mat-progress-spinner>
        </div>
        <app-post-item-article [data]="article" [view]="'FULL'"> </app-post-item-article>
    </div>
</ng-template>


<ng-template #create>
    <div class="padtb">
        <span class="iftext" [routerLink]="['/home/articles']">
            <i class="fal fa-arrow-left"></i>
            {{ ln.o('RETARTIX') }}
        </span>
        <div style="margin-bottom: 20px;">
            <app-bar-page [namePage]="ln.o('CREATEARTITXN')"></app-bar-page>
        </div>
        <app-input-post (postSaved)="getArticles()" [data]="article" [isArticle]="true" [placeholder]="ln.o('ARTITXT')"></app-input-post>
    </div>
</ng-template>