<app-bar-page [namePage]="'HOME'"></app-bar-page>
<div class="" >
    <div fxLayout="row {{ utils.checkWidth720 ? 'wrap' : '' }}" fxLayoutGap="{{ utils.checkWidth720 ? '0' : '25px' }}">
        <div fxFlex="100%">
            
            <div class="hasection">
                <div class="hahead">
                    <span class="iftext">
                        We recommend the following articles...
                    </span>
                    <button mat-stroked-button class="btn btn-light-outline btn-connect">VIEW ALL </button>    
                </div>
                <app-home-articles></app-home-articles>
            </div>
            <div class="ipot">
                <div *ngTemplateOutlet="inputPost"></div>
            </div>
            <div class="loader" *ngIf="loading">
                <mat-progress-spinner [diameter]="60" mode="indeterminate" color="primary">
                </mat-progress-spinner>
            </div>
            <div *ngIf="posts.length > 0">
                <app-post-item [data]="post" (updateEvent)="deletePost(i)" *ngFor="let post of posts; let i = index"></app-post-item>
            </div>

        </div>
        <div fxFlex="{{ utils.checkWidth720 ? '100%' : '300px' }}">
            <app-home-suggestions [titleCard]="'Connections Awaiting Response'" [data]="conexionesEspera"></app-home-suggestions>
            <app-simple-text></app-simple-text>
            <app-incoming-events [limit]="4" [eventos]="eventos"></app-incoming-events>
            <app-bar-picture></app-bar-picture>
        </div>
    </div>
</div>
<app-footer></app-footer>
<ng-template #inputPost>
    <span class="iftext">
        Connectus Feed
    </span>
    <app-input-post (postSaved)="getPosts()" [placeholder]="'Share something great in Connectus...'"></app-input-post>
</ng-template>