<div class="write-feed">
    <mat-form-field appearance="outline" class="full ">
        <textarea matInput [(ngModel)]="publishText" placeholder="{{ placeholder }}"
            style="height: 50px;"></textarea>
    </mat-form-field>
    <div class="actions">
        <div fxLayout="row">
            <div fxFlex="50%">
                <span class="countint" [ngClass]="{ 'exceed' : publishText.length > 500 }">
                    {{ publishText.length }}/500</span>
            </div>
            <div fxFlex="50%" class="sec-ac">
                <span><i class="fal fa-paperclip"></i></span>
                <span><i class="fas fa-images"></i></span>
                <span><i class="fad fa-paper-plane"></i></span>
            </div>
        </div>
    </div>
</div>