<div class="write-feed loadingContainer">

    <div class="loadingItem" *ngIf="loading">
        <mat-progress-spinner [diameter]="60" mode="indeterminate" color="primary">
        </mat-progress-spinner>
    </div>

    <div fxLayout="row wrap" *ngIf="isArticle" fxLayoutAlign="space-between">
        <div fxFlex="29%">
            <mat-form-field appearance="outline" class="full">
                <mat-label>Select a category</mat-label>
                <mat-select [(ngModel)]="publishCategoria">
                    <mat-option *ngFor="let cat of categorias" [value]="cat._id">{{ cat.detalleEN }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="69%">
            <mat-form-field appearance="outline" class="full">
                <mat-label>Title of article</mat-label>
                <input matInput [(ngModel)]="publishTitulo">
            </mat-form-field>
        </div>
    </div>
    <mat-form-field appearance="outline" class="full" *ngIf="!isArticle">
        <textarea matInput maxlength="{{ limitText }}" [(ngModel)]="publishText" placeholder="{{ placeholder }}" id="inputText"
            [ngStyle]="{ 'height': isArticle ? '250px' : '50px'}"></textarea>
    </mat-form-field>

    <div>
        <div *ngIf="listadoImagenes.length > 0">
            <span class="lblt">Pictures</span>
            <div class="cont-pic" fxLayout="row wrap" fxLayoutGap="1%" cdkDropList cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let img of listadoImagenes; let i = index">
                    <div class="pic-post" fxFlex="24%" [style.background-image]="'url(' + (img.uploaded ? img.displayImg : img.file)  + ')'" cdkDrag>
                        <span class="remove" (click)="borrarFichero(i, 'listadoImagenes', 'FOTOS')">
                            <mat-icon>clear</mat-icon>
                        </span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>


    <div *ngIf="listadoFicheros.length > 0">
        <span class="lblt">Files</span>
        <div class="cont-pic">
            <div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.xs="column">
                <div fxFlex="15%" class="prev-pic" *ngFor="let fic of listadoFicheros; let i = index">
                    <a [href]="fic.filex" class="icon-fichero" target="_blank">
                        <img src="assets/images/xls_download.png"
                            *ngIf="fic.nombre.includes('.xls') || fic.nombre.includes('.xlsx')">
                        <img src="assets/images/word_download.png"
                            *ngIf="fic.nombre.includes('.doc') || fic.nombre.includes('.docx')">
                        <img src="assets/images/pdf_download.png" *ngIf="fic.nombre.includes('.pdf')">
                        <span>{{ fic.nombre }}</span>
                        <div class="overlay">
                            <i class="fal fa-arrow-alt-to-bottom"></i>
                        </div>
                    </a>
                    <span class="remove" (click)="borrarFichero(i, 'listadoFicheros', 'DOCUMENTOS')">
                        <mat-icon>clear</mat-icon>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <angular-editor [(ngModel)]="publishText" [config]="editorConfig" *ngIf="isArticle"></angular-editor>
     {{ publishText }}
    <app-emojis-picker (emojiSelected)="emojiSelected($event)" *ngIf="displayEmoji"></app-emojis-picker>

    <div class="actions">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div fxFlex="20%">
                <span class="countint" [ngClass]="{ 'exceed' : publishText.length > limitText }" *ngIf="!isArticle">
                    {{ publishText.length }}/{{ limitText }}</span>
            </div>
            <div fxFlex="80%" class="sec-ac">

                <input type="file" id="ficheros" (change)="fileChange($event, 'ficheros')"
                    accept=".pdf, .doc, .docx, .xls, .xlsx" hidden multiple>

                <input type="file" id="imagenes" (change)="fileChange($event, 'imagenes')"
                    accept=".jpg, .png, .jpeg, .gif" hidden multiple>

                <button mat-icon-button class="btn isEmojiBtn" (click)="displayEmoji = !displayEmoji" *ngIf="!isArticle">
                    <i class="fal fa-smile-beam"></i>
                </button>

                <button mat-stroked-button class="btn btn-light-outline"
                    *ngIf="listadoFicheros.length < 5 && !isArticle" (click)="openInputFile('ficheros')">
                    ADD FILES
                    <i class="fal fa-paperclip"></i>
                </button>

                <button mat-stroked-button class="btn btn-light-outline" *ngIf="listadoImagenes.length < 8"
                    (click)="openInputFile('imagenes')">
                    ADD PICTURES
                    <i class="fas fa-images"></i>
                </button>

                <button mat-stroked-button class="btn btn-light-filled" (click)="postItem()">
                    SEND
                    <i class="fad fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>