@import "src/assets/theming/global.scss";
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

.card-post{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border:1px solid #ddd;


    .head-post{
        display: flex;
        margin-bottom: 25px;
        align-items: center;

        .prof-pic{

            display: block;
            width: 50px;
            height: 50px;
            margin-right: 35px;
            position: relative;
            border:4px solid $lightBlue;
            border-radius: 100%;
            cursor: pointer;
            
            &::after{
                content: "";
                width: 0;
                height: 0;
                border-top: 12px solid transparent;
                border-left: 15px solid $lightBlue;
                border-bottom: 12px solid transparent;
                position: absolute;
                top: 15px;
                right: -30px;
            }

            img{
                width: 100%;
                border-radius: 100%;
            }
        }

        .prof-name{
            display: block;
            font-weight: 700;
            font-size: 18px;
            color:$lightBlue;
        }

        .prof-date{
            font-size: 14px;
        }
    }

    p{
        color:#000 !important
    }

    .actions{
        text-align: right;
        padding: 0px;

        span{
            color:$lightBlue;
            margin-left: 15px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover{
                color:$darkBlue;
                transition: all 0.5s;
            }

            i{
                margin-left: 10px;
            }
        }
    }

    .pic-post{
        width: 100%;
        margin: 20px 0px;
        border-radius: 10px;
    }
}

.picgal{

    height:270px;
    background-size: cover !important;
    background-position: 50% !important;
    border:2px solid #fff !important;
    position: relative;
    text-decoration: none;

    .overlay{
        display: flex;
        justify-content: center;
        align-items: center;;
        background: rgba(0,0,0,0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top:0px;
        left:0px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover {
        transition: all 0.5s;
        .overlay{
            opacity: 1;
            visibility: visible;
        }
    }

    .icc{
        color: #fff;
        font-size: 42px;
    }
}

.cont-gal{
    background: #f1f2f2;
    padding: 15px 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}