@import "src/assets/theming/global.scss";

.card-post{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border:1px solid #ddd;


    .head-post{
        display: flex;
        margin-bottom: 25px;
        align-items: center;

        .prof-pic{

            display: block;
            width: 50px;
            height: 50px;
            margin-right: 35px;
            position: relative;
            border:6px solid $lightBlue;
            border-radius: 100%;
            cursor: pointer;
            
            &::after{
                content: "";
                width: 0;
                height: 0;
                border-top: 12px solid transparent;
                border-left: 15px solid $lightBlue;
                border-bottom: 12px solid transparent;
                position: absolute;
                top: 15px;
                right: -30px;
            }

            img{
                width: 100%;
                border-radius: 100%;
            }
        }

        .prof-name{
            display: block;
            font-weight: 700;
            font-size: 18px;
            color:$lightBlue;
        }

        .prof-date{
            font-size: 14px;
        }
    }

    p{
        color:#000 !important
    }

    .actions{
        text-align: right;
        padding: 20px 0px 0px 0px;

        span{
            color:$lightBlue;
            margin-left: 15px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover{
                color:$darkBlue;
                transition: all 0.5s;
            }

            i{
                margin-left: 10px;
            }
        }
    }

    .pic-post{
        width: 100%;
        margin: 20px 0px;
        border-radius: 10px;
    }
}