<app-bar-page [namePage]="'EVENTS'"></app-bar-page>
<div class=" calendar-preview" >
    <div fxLayout="row {{ utils.checkWidth720 ? 'wrap' : '' }}" fxLayoutGap="{{ utils.checkWidth720 ? '0px' : '25px' }}">
        <div fxFlex="100%">
            <div class="padtb">
                <div *ngTemplateOutlet="filterArticle"></div>
                <div class="calendar-preview">
                  <ng-container *ngTemplateOutlet="dateCalendar"></ng-container>
                </div>

            </div>

        </div>
        <div fxFlex="{{ utils.checkWidth720 ? '100%' : '300px' }}">
            <app-incoming-events [limit]="5" [eventos]="eventosRes" [fromHome]="false"></app-incoming-events>
            <app-bar-picture></app-bar-picture>
        </div>
    </div>
</div>
<app-footer></app-footer>
<ng-template #dateCalendar>
    <ng-container *ngFor="let e of eventos">
        <div class="cal-day day31" (click)="goToEvent(e._id, e.titulo)"
        *ngIf="!categoriaSelected || categoriaSelected === e.idCategoria || categoriaSelected === 'ALL'">
            <div class="item-day">
                <div class="picprev"  [style.background-image]="'url(' + (routeFicheros + e.foto + '?alt=media')   + ')'"></div>
                <div class="cal-info">
                    <span class="cal-title">{{ e.titulo }}</span>
                    <span class="cal-extr"><i class="fal fa-map-marker-check"></i> {{ e.lugar }}</span>
                </div>
                <div class="day">
                    <i class="fas fa-star resEvent" *ngIf="e.resaltado"></i>
                    <span class="number-day">{{ e.day }}</span>
                    <span class="month-day">{{ e.monthIn }}</span>
                    <span class="time-day">{{ e.hora }}</span>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<ng-template #filterArticle>
    <div class="filter">
        <div class="sbox">
            <mat-form-field appearance="outline">
                <mat-label>Categories</mat-label>
                <mat-select [(ngModel)]="categoriaSelected">
                    <mat-option [value]="'ALL'">SHOW ALL</mat-option>
                    <mat-option *ngFor="let cat of categorias" [value]="cat._id">{{ cat.detalleEN }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</ng-template>