<div class="card-suggestions">
    <div class="cs-header">
        {{ ln.o('ARTSUG')}}
    </div>
    <div class="list-sug " *ngIf="articulospublicos.length > 0">
        <div class="item-sug article-sug" matRipple *ngFor="let ar of articulospublicos" (click)="goToSite(ar.slug)">
            <span class="prof-pic " [style.background-image]="'url('  + routeFicheros + pathFicheros + ar.imagenSlider  + '?alt=media)'" >
            </span>
            <span class="info">
                <span class="prof-name">{{ ar.tituloSlider }}</span>
                <span class="prof-extra">{{ ln.gln() === 'ES' ? ar.categoria?.detalle : ar.categoria?.detalleEN }}</span>
                <span class="prof-des">{{ ar.descripcionSlider }}</span>
            </span>
        </div>
    </div>
    <div class="list-sug " *ngIf="articulospublicos.length === 0">
        <p class="noresults">{{ ln.o('NORESULTS')}}</p>
    </div>
</div>