<div class="pic-header" *ngIf="perfilUsuario && loadedUsuario && !loading"></div>
<div class="notfound" *ngIf="!perfilUsuario && loadedUsuario && !loading">
    <div class="container">
        <p>{{ ln.o('USERNOTFOUND')}}</p>
        <button mat-stroked-button class="btn btn-light-filled md" [routerLink]="['/home/homefeed']">
            {{ ln.o('RETURNHOME')}}
        </button>
    </div>
    
</div>
<div class="container">

    <div class="loader" *ngIf="loading">
        <mat-progress-spinner [diameter]="60" mode="indeterminate" color="primary">
        </mat-progress-spinner>
    </div>

    <div class="content-profile" *ngIf="perfilUsuario && loadedUsuario && !loading">

        <img *ngIf="perfilUsuario?.foto" [src]="routeFotoPerfil + perfilUsuario?.foto + '?alt=media'" >
        <img *ngIf="!perfilUsuario?.foto" [src]="routeFotoPerfil + 'add-profile.jpg?alt=media'">

        <div class="info-list">
            <div class="hd-list">
                <span class="text-1">{{ perfilUsuario.nombres }} {{ perfilUsuario.apellidos }}</span>
                <span class="text-2">{{ perfilUsuario.summary }}</span>
            </div>
        </div>
       
        <div class="conex-btn" *ngIf="myInfo.id !== perfilUsuario._id">
            <button mat-stroked-button class="btn btn-light-outline " (click)="crearConexion()" *ngIf="connectInfo.action === 'CREATE_CONNECTION'"> {{ ln.o('CONNECT')}} + </button>
            <div *ngIf="connectInfo.action === 'AWAIT_CONNECTION'">
                <button mat-stroked-button class="btn btn-light-outline " (click)="procesarConexion(false)"  style="margin-right: 15px;">{{ ln.o('CANCELREQCON')}}</button>
                <button mat-stroked-button class="btn btn-light-filled ">{{ ln.o('AWAREQCON')}}</button>
            </div>
            <div *ngIf="connectInfo.action === 'ACCEPT_CONNECTION'">
                <button mat-stroked-button class="btn btn-light-outline " (click)="procesarConexion(false)" style="margin-right: 15px;"> {{ ln.o('REJECTCON')}}</button>
                <button mat-stroked-button class="btn btn-light-filled " (click)="procesarConexion(true)"> {{ ln.o('ACCEPTCON')}}</button>
            </div>

            <button mat-stroked-button class="btn btn-light-outline " (click)="procesarConexion(false)" *ngIf="connectInfo.action === 'CONNECTED'" style="margin-right: 15px;"> {{ ln.o('REMOVECON')}}</button>
            <button mat-stroked-button class="btn btn-light-filled " *ngIf="connectInfo.action === 'CONNECTED'">{{ ln.o('CONNECTEDX')}}</button>
        </div>
        <div class="dots">
            <span></span>
            <span class="active"></span>
            <span></span>
        </div>
        <div class="con-info">
            <div class="con-det">
                <span class="con-val">0</span>
                <span class="con-ref">{{ ln.o('CONNECTIONSTX') }}</span>
            </div>
            <div class="con-det">
                <span class="con-val">{{ perfilUsuario.nPosts }}</span>
                <span class="con-ref">Posts</span>
            </div>
            <div class="con-det">
                <span class="con-val">{{ perfilUsuario.fechaRegistro | date: 'YYYY' }}</span>
                <span class="con-ref">{{ ln.o('MEMBERSINCE') }}</span>
            </div>
        </div>
        <span class="navig nright">
            <i class="fal fa-chevron-right"></i>
        </span>
        <span class="navig">
            <i class="fal fa-chevron-left"></i>
        </span>

    </div>
</div> 

<div *ngIf="utils.checkWidth720">
    <app-navigation></app-navigation>
</div>

<app-footer></app-footer>