<app-bar-page [namePage]="'ARTICLES'"></app-bar-page>
<div class="" >
    <div fxLayout="row {{ utils.checkWidth720 ? 'wrap' : '' }}" fxLayoutGap="{{ utils.checkWidth720 ? '0px' : '25px' }}">
        <div fxFlex="100%">
            <div class="padtb">
                <div *ngTemplateOutlet="filterArticle"></div>
                <div class="loader" *ngIf="loading">
                    <mat-progress-spinner [diameter]="60" mode="indeterminate" color="primary">
                    </mat-progress-spinner>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let art of articlesFiltered  | paginate: { itemsPerPage: 4, currentPage: p };">
                        <app-post-item-article [data]="art" (updateEvent)="getArticles()"></app-post-item-article>
                    </div>
                </div>
            </div>
            <p class="no-results" *ngIf="!loading && articlesFiltered.length === 0">No results to show</p>

        </div>
        <div fxFlex="{{ utils.checkWidth720 ? '100%' : '300px' }}">
            <app-articles-suggestion></app-articles-suggestion>
            <app-bar-picture></app-bar-picture>
        </div>
    </div>
</div>
<app-footer></app-footer>
<ng-template #filterArticle>
    <div class="filter">
        <div class="sbox">
 

            <mat-form-field appearance="outline" style="margin-right: 20px;">
                <mat-label>Category</mat-label>
                <mat-select (selectionChange)="filterByCategory($event)">
                    <mat-option [value]="'ALL'">ALL</mat-option>
                    <mat-option *ngFor="let cat of categorias" [value]="cat._id">{{ cat.detalleEN }}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-stroked-button class="btn btn-light-outline" [routerLink]="['/home/articles/view']" [queryParams]="{curView: 'create'}">CREATE ARTICLE</button>


        </div>
        <div class="btn-find" *ngIf="articlesFiltered.length > 4">
            <pagination-controls 
                (pageChange)="p = $event"  
                [responsive]="true"
                [directionLinks]="true"
                [previousLabel]="''"
                [nextLabel]="''">
            </pagination-controls>

        </div>
    </div>
</ng-template>