.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ::ng-deep .sbox{
        *{
            font-weight: 900;
            text-transform: uppercase;
            font-size: 12px;
        }
        .mat-form-field-appearance-outline .mat-form-field-outline{
            background:#fff !important;
        }
    }

}

@media(max-width:720px){
    .filter{
        display: block !important;
        .sbox{
            display: flex !important;
            justify-content: space-between;
            .mat-form-field{
                width: 47% !important;
                margin:0px !important;
            }
        }
        .btn-find{
            text-align: right;
            margin-bottom: 20px;
        }
    }
}