<div class="content-interest">
    <span class="largeText custom">
        My Articles Categories
    </span>
    <div class="list-interests">
        <span matRipple>
            <i class="fal fa-star"></i>
            <b>Science & Technology</b>
        </span>
        <span matRipple>
            <i class="fal fa-star"></i>
            <b>Toruism</b>
        </span>
        <span matRipple>
            <i class="fal fa-star"></i>
            <b>Economy & Business</b>
        </span>
    </div>
    <span class="linkText" [routerLink]="'/categories'">view all my articles</span>

    <span class="largeText custom" style="margin-top: 30px;">
        Coming Soon
    </span>
    <div class="list-calendar">
        <span matRipple>
            <b class="day">25
                <i>JUN</i>
            </b>
            <p class="info-calendar">
                Firt tournament of Dominoes in
                Central Park
            </p>
        </span>
        <span matRipple>
            <b class="day">16
                <i>JUL</i>
            </b>
            <p class="info-calendar">
                Firt tournament of Dominoes in
                Central Park
            </p>
        </span>
        <span matRipple>
            <b class="day">02
                <i>AUG</i>
            </b>
            <p class="info-calendar">
                Firt tournament of Dominoes in
                Central Park
            </p>
        </span>
        <span matRipple>
            <b class="day">27
                <i>SEP</i>
            </b>
            <p class="info-calendar">
                Firt tournament of Dominoes in
                Central Park
            </p>
        </span>
    </div>
    <span class="linkText">view all incoming events</span>

    <span class="largeText custom" style="margin-top: 30px;">
        Awaiting Response
    </span>

    <div class="confavs">
        <div class="list">
            <span class="list-pic">
                <img src="assets/images/p5.jpg"/>
            </span>
            <span class="list-pic">
                <img src="assets/images/p6.jpg"/>
            </span>
            <span class="list-pic">
                <img src="assets/images/p7.jpg"/>
            </span>
            <span class="list-pic">
                <img src="assets/images/p8.jpg"/>
            </span>
        </div>

    </div>
</div>
