<h2 class="tpass"> Privacy Settings</h2>
<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="isSettings">
    <div fxFlex="68%">
        YOUR POSTS AND ARTICLES ARE PUBLIC.
    </div>
    <div fxFlex="30%">
        <mat-form-field class="full" appearance="outline">
            <mat-label>Action</mat-label>
            <mat-select>
                <mat-option [value]="true">ALLOWED</mat-option>
                <mat-option [value]="false">NOT ALLOWED</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="68%">
        DISPLAY YOUR EMAIL ADDRESS
    </div>
    <div fxFlex="30%">
        <mat-form-field class="full" appearance="outline">
            <mat-label>Action</mat-label>
            <mat-select>
                <mat-option [value]="true">ALLOWED</mat-option>
                <mat-option [value]="false">NOT ALLOWED</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="68%">
        DISPLAY YOUR PHONE NUMBER
    </div>
    <div fxFlex="30%">
        <mat-form-field class="full" appearance="outline">
            <mat-label>Action</mat-label>
            <mat-select>
                <mat-option [value]="true">ALLOWED</mat-option>
                <mat-option [value]="false">NOT ALLOWED</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>