@import "src/assets/theming/global.scss";

.card-suggestions{
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    border:1px solid #ddd;
    
    .cs-header{
        background: $darkBlue;
        color:$lightBlue;
        text-align: center;
        font-weight: 700;
        padding: 18px;
    }
}

.item-sug{

    display: flex;
    align-items: center;
    padding: 20px;
    cursor:pointer;
    border-bottom:1px solid #ddd;

    &:last-child{
        border-bottom:none;
    }
    &:hover{
        background: #fafafa;
    }
    .prof-pic{

        display: block;
        width: 50px;
        height: 50px;
        margin-right: 35px;
        position: relative;
        border:4px solid $lightBlue;
        border-radius: 100%;

        &::after{
            content: "";
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-left: 10px solid $lightBlue;
            border-bottom: 8px solid transparent;
            position: absolute;
            top: 15px;
            right: -25px;
        }

        img{
            width: 50px;
            border-radius: 100%;
        }
    }

    .prof-name{
        display: block;
        font-weight: 700;
        font-size: 16px;
        color:$lightBlue;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    }

    .prof-extra{
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }

    .prof-des{
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }

    .info{
        width: 150px;
    }

    .link-connect{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: $lightBlue;
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top:10px;
    }
}

@media(max-width:720px){
    .info{
        width: 100% !important;
    }
}