<div class="card-suggestions chat-bar">
    <div class="cs-header">
        Active Chats
    </div>
    <div class="list-sug ">
        <div class="search">
            <mat-form-field appearance="outline" class="full input-1 npb onwhite">
                <input matInput (focusin)="plcFocus = true" (focusout)="plcFocus = false" type="text"
                    placeholder="{{ plcFocus ? '' : 'Find a connection...' }}" [formControl]="usuariosCtrl"
                    #triggerUsuarios="matAutocompleteTrigger" [matAutocomplete]="auto" autocomplete="off" />
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTextAutocomplete" (optionSelected)="usuarioSelection($event)">
                        <div class="layerl" *ngIf="loadingUsuarios"></div>
                           <mat-option class="hvac" *ngFor="let usu of filterUsuarios | async" [value]="usu">
                               <div class="viewac">
                                   <img *ngIf="usu.foto" [src]="routeFotoPerfil + usu.foto + '?alt=media'" />
                                   <img *ngIf="!usu.foto" [src]="routeFotoPerfil + 'add-profile.jpg?alt=media'">
                                   <div>
                                       <span class="vdet"> {{ usu.detalle }}</span>
                                       <span class="vsummar"> {{ usu.summary || '--' }}</span>
                                   </div>
                               </div>
                           </mat-option>
                       </mat-autocomplete>
                       <mat-progress-spinner matSuffix [diameter]="20" mode="indeterminate" color="primary" *ngIf="loadingUsuarios">
                       </mat-progress-spinner>
                <mat-icon matPrefix class="iconprefix"><i class="far fa-search"></i></mat-icon>
            </mat-form-field>
        </div>
        <div class="no-results" *ngIf="chatList.length === 0">No active chats</div>
        <div class="usuSection">
            <ng-container *ngFor="let usu of chatList">
                <div class="item-sug chat-item active" matRipple [ngClass]="{ 'active' : idCurUserChat === usu.id }" (click)="setUsuario(usu)">
                    <div class="loadingChat" *ngIf="idCurUserChat === usu.id && loading">
                        <mat-progress-spinner [diameter]="20" mode="indeterminate" color="primary">
                        </mat-progress-spinner>
                    </div>
                    <span class="prof-pic">
                        <img *ngIf="usu.foto" [src]="routeFotoPerfil + usu.foto + '?alt=media'" />
                        <img *ngIf="!usu.foto" [src]="routeFotoPerfil + 'add-profile.jpg?alt=media'">
                        <span class="qtychats" *ngIf="usu.nChatsNoLeidos?.length > 0"> {{ usu.nChatsNoLeidos?.length > 9 ? '+9' : usu.nChatsNoLeidos?.length }}</span>
                    </span>
                    <span class="info">
                        <span class="prof-name">{{ usu.detalle }}</span>
                        <span class="prof-extra">{{ usu.summary }}</span>
                    </span>
                </div>
            </ng-container>

        </div>

    </div>
</div>