@import "src/assets/theming/global.scss";

.chat-bar{
    margin-bottom: 25px;

    .chat-item{
        position: relative;
        &.active{
            background: $darkBlue !important;
            *{
                color:#fff !important
            }
        }
    }
}

.qtychats{
    font-size: 12px;
    background:red;
    width: 20px;
    height: 20px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: 0px;
}

.loadingChat{
    position: absolute;
    right: 10px;
    top:10px;
}

.usuSection{
    max-height: 466px;
    overflow-y: auto;
}

.prof-name{
    font-size: 14px !important;
}

.prof-extra{
    font-size: 12px !important;
}