@import "src/assets/theming/global.scss";

.card-article{

    img{
        margin-top: 0px !important;
        border-radius: 10px;
    }

    .det-post{
        p{
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            font-size: 14px;
            margin-top: 20px !important;
        }

        .det-title{
            color:$lightBlue;
            font-weight: 700;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;

            &.fullView{
                display: block !important;
                font-size: 20px;
            }
        }

        .det-cat{

            display: block;
            position: relative;
            padding: 5px 0px 0px 15px;
            font-size: 14px;
            &::after{
                content: "";
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 8px solid $lightBlue;
                border-bottom: 6px solid transparent;
                position: absolute;
                top: 7px;
                left: 0px;
            }
        }
    }

    .actions{
        display: flex;
        justify-content: space-between;

        .stats{
            display: flex;
            align-items: center;
        }
    }
}