<div class="card-post card-article" *ngIf="data">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="actionPost" >
        <mat-icon>more_vert</mat-icon>
    </button>
    <div class="head-post">
        <span class="prof-pic" [routerLink]="['/profile']" [queryParams]="{usuario: data.usuario.usuario}">
            <img *ngIf="data.usuario?.foto" [src]="routeFotoPerfil + data.usuario?.foto + '?alt=media'" />
            <img *ngIf="!data.usuario?.foto" [src]="routeFotoPerfil + 'add-profile.jpg?alt=media'">
        </span>
        <span class="info">
            <span class="prof-name">{{ data.usuario?.nombres }} {{ data.usuario?.apellidos }}</span>
            <span class="prof-date">{{ ln.o('POSTEDTX')}} {{ data.fechaRegistro | date:'MMMM d, y' }} </span>
        </span>
    </div>
    <ng-container *ngTemplateOutlet="detailPost"></ng-container>
    <ng-container *ngTemplateOutlet="actions"></ng-container>
    <app-comments (setTotal)="updateQtyComments($event)" [post]="data" *ngIf="displayComentarios"></app-comments>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item  *ngIf="pertenecePost" [routerLink]="['/home/articles/view']" [queryParams]="{curView: 'create', id: data?._id}">
        <mat-icon>create</mat-icon>
        <span>{{ ln.o('EDITTX') }}</span>
    </button>
    <button mat-menu-item  *ngIf="pertenecePost" (click)="detelePost()">
        <mat-icon>close</mat-icon>
        <span>{{ ln.o('DELETETX') }}</span>
    </button>
    <button mat-menu-item (click)="denunciarPost()" *ngIf="!pertenecePost">
        <mat-icon>warning</mat-icon>
        <span>{{ ln.o('REPORTX') }}</span>
    </button>
</mat-menu>

<ng-template #detailPost>
    <div class="det-post">
        
        <div *ngIf="view !== 'FULL'">
            <div class="picprev" [style.background-image]="'url(' + (routeFicheros + data.images[0]?.file + '?alt=media')   + ')'"></div>
            <span class="det-title">{{ data.titulo }}</span>
            <span class="det-cat">{{ data.categoria.detalleEN}}</span>
            <p class="infprev">{{ stripTags(data.detalle) }}</p>
        </div>

        <div *ngIf="view === 'FULL'">
            <div *ngIf="data.images.length > 0">
                <lightgallery [settings]="settings" fxLayout="row wrap" fxLayoutAlign="center" class="cont-gal">
                    <a fxFlex="{{ ((100 / (data.images.length > 3 ? 3 : data.images.length )) - 1) +'%'  }}"
                        [attr.href]="img.img" class="picgal" [style.background-image]="'url(' + img.img  + ')'"
                        *ngFor="let img of data.images">
                        <span class="overlay">
                            <i class="fal fa-search icc"></i>
                        </span>
                    </a>
                </lightgallery>
            </div>

            <span class="det-title fullView">{{ data.titulo }}</span>
            <span class="det-cat" style="margin-bottom: 10px;">{{ data.categoria.detalleEN}}</span>
            <div [innerHTML]="data.detalle"></div>
        </div>

    </div>
</ng-template>

<ng-template #actions>
    <div class="actions">
        <div class="stats">
            <span (click)="setLike()">
                <b>{{ data.qtyLikes }}</b>
                <i class="fal fa-heart" *ngIf="!data.isLike"></i>
                <i class="fas fa-heart" *ngIf="data.isLike"></i>
            </span>
            <span (click)="setComentarios()">
                <b>{{ data.qtyComments }}</b>
                <i class="fal fa-comment-alt-lines"></i>
            </span>
        </div>
        <div *ngIf="view !== 'FULL'">
            <button mat-stroked-button class="btn btn-light-outline" [routerLink]="['/home/articles/view']"
                [queryParams]="{curView: 'view', id: data._id}">Keep Reading</button>
        </div>
    </div>
</ng-template>