<div class="container">
    <div class="navigation" id="navigation">
        <span class="item-nav" [routerLink]="'/home/homefeed'">
            <i class="far fa-home-alt" routerLinkActive="active"></i>
            <b>Home</b>
        </span>
        <span class="item-nav" [routerLink]="'/home/articles'">
            <i class="fal fa-star" routerLinkActive="active"></i>
            <b>Article</b>
        </span>
        <span class="item-nav" [routerLink]="'/home/events'">
            <i class="fal fa-calendar-alt" routerLinkActive="active"></i>
            <b>Events</b>
        </span>
        <span class="item-nav" [routerLink]="'/home/messaging'">
            <i class="fal fa-comments-alt" routerLinkActive="active"></i>
            <b>Messaging</b>
        </span>
        <span class="item-nav" [routerLink]="'/home/connections'">
            <i class="fal fa-users" routerLinkActive="active"></i>
            <b>Connections</b>
        </span>
        <span class="item-nav" [routerLink]="'/home/downloadble-content'">
            <i class="fal fa-cloud-download" routerLinkActive="active"></i>
            <b>Download</b>
        </span>
        <span class="item-nav" [routerLink]="'/home/settings'">
            <i class="fal fa-cog" routerLinkActive="active"></i>
            <b>Settings</b>
        </span>
    </div>
</div>
