<div class="card-suggestions" >
    <div class="cs-header">
        {{ ln.o('HLEVENTS') }}
    </div>
    <div class="list-events " *ngIf="eventos.length > 0">
        <ng-container *ngTemplateOutlet="dayEvent"></ng-container>
        <span class="link-cc" [routerLink]="'/home/events'" *ngIf="fromHome">{{ ln.o('VIEWALL') }}</span>
    </div>
    <div class="list-events"  *ngIf="eventos.length === 0">
        <p class="nem">{{ ln.o('NOEVENTSTX') }}</p>
    </div>

</div>

<ng-template #dayEvent>
    <ng-container *ngFor="let e of eventos; let i = index">
        <div class="item-sug event-sug" matRipple *ngIf=" (i + 1) <= limit" (click)="goToEvent(e._id, e.titulo)"> 
            <div class="day ">
                <span class="number-day">{{ e.day }}</span>
                <span class="month-day">{{ e.monthIn }}</span>
                <span class="time-day">{{ e.hora}}</span>
            </div>
            <span class="info">
                <span class="prof-name">{{ e.titulo }}</span>
                <span class="prof-extra" *ngIf="ln.gln() === 'EN'">{{ e.categoria?.detalleEN | lowercase }}</span>
                <span class="prof-extra" *ngIf="ln.gln() === 'ES'">{{ e.categoria?.detalle | lowercase }}</span>
                <span class="prof-des"> 
                    {{ e.preDetalle }}</span>
            </span>
        </div>
    </ng-container>

</ng-template>