<app-bar-page [namePage]="ln.o('DOWNLCONTTX')"></app-bar-page>

<div class="content-download">
    <p *ngIf="!loading && items.length === 0">{{ln.o('NORESULTS')}}</p>
    <div class="items-download">
        <div class="loader" *ngIf="loading">
            <mat-progress-spinner [diameter]="60" mode="indeterminate" color="primary">
            </mat-progress-spinner>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="!loading && items.length > 0" fxLayoutGap="1%">
            <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let it of items;" >
                <div class="itm-download" [routerLink]="['/home/downloadble-content/view']" [queryParams]="{item: it._id}">
                    <img [src]="routeHostStorage + pathContenidoDescargable + it.fotoPortada + '?alt=media'" />
                    <div class="overlay-idw">
                        <div>
                            <div class="isicon" [innerHTML]="it.icon"></div>
                            <span>{{ it.titulo }}</span>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<app-footer></app-footer>