<app-bar-page [namePage]="'DOWNLOADABLE CONTENT'"></app-bar-page>

<div class="content-download">
  
    <div class="items-download">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
                <div class="itm-download" [routerLink]="['/home/downloadble-content/view']">
                    <img src="assets/images/download-1.png" />
                    <div class="overlay-idw">
                        <div>
                            <i class="fal fa-headphones-alt"></i>
                            <span>Audible Books</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
                <div class="itm-download" [routerLink]="['/home/downloadble-content/view']">
                    <img src="assets/images/download-2.jpg" />
                    <div class="overlay-idw">
                        <div>
                            <i class="fal fa-book-open"></i>
                            <span>Digital Books</span>    
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
                <div class="itm-download" [routerLink]="['/home/downloadble-content/view']">
                    <img src="assets/images/download-3.jpg" />
                    <div class="overlay-idw">
                        <div>
                            <i class="fal fa-podcast"></i>
                            <span>Podcasts</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
                <div class="itm-download" [routerLink]="['/home/downloadble-content/view']">
                    <img src="assets/images/download-4.jpg" />
                    <div class="overlay-idw">
                        <div>
                            <i class="fal fa-video"></i>
                            <span>Videos</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
                <div class="itm-download" [routerLink]="['/home/downloadble-content/view']">
                    <img src="assets/images/download-5.jpg" />
                    <div class="overlay-idw">
                        <div>
                            <i class="fal fa-image"></i>
                            <span>Pictures</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
                <div class="itm-download" [routerLink]="['/home/downloadble-content/view']">
                    <img src="assets/images/download-6.jpg" />
                    <div class="overlay-idw">
                        <div>
                            <i class="fal fa-file"></i>
                            <span>Digital Content</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>