@import "src/assets/theming/global.scss";

.list-comments{
    padding: 20px;
    border:1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #eee;
}
.pagination{
    text-align: center;
}

.isEmojiBtn{
    font-size: 25px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    color:$lightBlue;
 }