@import "src/assets/theming/global.scss";


@font-face {
   font-family: "MuseoSans";
   src: url("/assets/fonts/MuseoSans_100.otf");
   font-weight: 100;
}

@font-face {
   font-family: "MuseoSans";
   src: url("/assets/fonts/MuseoSans_500.otf");
   font-weight: 500;
}

@font-face {
   font-family: "MuseoSans";
   src: url("/assets/fonts/MuseoSans_700.otf");
   font-weight: 700;
}

@font-face {
   font-family: "MuseoSans";
   src: url("/assets/fonts/MuseoSans_900.otf");
   font-weight: 900;
}

body{background: #fff;}
body { margin: 0; font-family: MuseoSans, sans-serif; background:#fafafa; }
h1,h2,h3,h4,h5, p{margin:0px !important}
button{ font-weight: 300 !important;}
.no-results{ padding:20px}
.container{ max-width: 1300px; margin:0px auto; width: 90%;}
.iconprefix{
   margin-right: 20px;
   position: relative;
   i{ font-size: 24px !important; margin-left: 5px;  }
}
.full{ width: 100%; }

mat-label, .mat-input-element, mat-option, .mat-chip{
   font-family: MuseoSans !important;
}

.input-1{

   margin: 32px 0px;
   transition: all 0.5s;

   .mat-icon{
      color:#fff
   }

   &.npb{
      .mat-form-field-wrapper{
         padding-bottom: 0px !important;
      }
   }

   .mat-form-field-outline div{
      border: 0px !important;
   }

   .mat-form-field-flex{
      /*background:#192e58 !important;*/
      border-radius: 50px;
      border:2px solid $lightBlue;
   }

   &.rad-i{
      .mat-form-field-flex{
         border-radius: 20px !important;
      }
   }

   .mat-form-field-infix{
      border-top: 0px;
      padding: 1em 0px;
   }

   input, textarea{

      color:#fff;

      &::placeholder {
         color: #f9f9f9 !important;
         opacity: 0.8;
      }
      
      &:-ms-input-placeholder {
       color: #f9f9f9 !important;
      }
      
      &::-ms-input-placeholder {
         color: #f9f9f9 !important;
      }
   }

   &.onwhite{
      margin: 0px !important;
      input, textarea{
         
         color:#000;

         &::placeholder {
            color: $lightBlue !important;
            opacity: 0.8;
         }
         
         &:-ms-input-placeholder {
          color: $lightBlue !important;
         }
         
         &::-ms-input-placeholder {
            color: $lightBlue !important;
         }
      }

      .mat-icon{
         color:$lightBlue !important;
      }

      .mat-form-field-infix{
         padding: 1em 0px ;
      }
   }

}

.padtb{
   padding: 30px 0px;
}

.customSelect{
   opacity: 0.75;
   margin-left: 20px;
   *{
      color:#fff;
   }
}

.iftext{
   color:$lightBlue;
   font-weight: 900;
   font-size: 18px;
   text-transform: uppercase;
   margin-bottom: 20px;
   display: block;
}

.btn-light-outline{
   *{
      color:$lightBlue;
      font-weight: 500;
      transition: all 0.5s;
   }

   border: 2px solid $lightBlue !important;
   border-radius: 30px !important;
   font-family: 'MuseoSans' !important;
   transition: all 0.5s;

   &:hover{
      background:$lightBlue !important;
      *{
         color:#fff !important;
         transition: all 0.5s;
      }
      transition: all 0.5s;

   }

   &.md{
      font-size: 16px !important;
      padding: 5px 35px !important;
   }
   
}

.btn-light-filled{
   *{
      color:#fff;
      font-weight: 500;
      transition: all 0.5s;
   }

   border: 2px solid $lightBlue !important;
   border-radius: 30px !important;
   background:$lightBlue !important;
   font-family: 'MuseoSans' !important;
   transition: all 0.5s;

   &:hover{
      background: transparent !important;
      *{
         color:$lightBlue !important;
         transition: all 0.5s;
      }
      transition: all 0.5s;
   }

   &.md{
      font-size: 16px !important;
      padding: 5px 35px !important;
   }

}

.btn-dark{
   *{
      color:$lightBlue;
      font-weight: 900;
      transition: all 0.5s;
   }
   background:$darkBlue;
   border: 2px solid $lightBlue !important;
   border-radius: 30px !important;
   transition: all 0.5s;

   &:hover{
      background:$lightBlue !important;
      *{
         color:#fff !important;
         transition: all 0.5s;
      }
      transition: all 0.5s;

   }

}

.mt-30{
   margin: 30px 0px;
}

.link-cc{
   display: block;
   text-align: center ;
   margin: 20px 0px;
   color: $lightBlue;
   cursor: pointer;
   &:hover{
      color: $darkBlue;
   }
}

.search{
   padding: 20px;
   border-bottom: 1px solid #ddd;
}


router-outlet.mrouter ~ * {
   position: absolute;
   height: 100%;
   width: inherit;
}

.btn-wt{

   position: absolute;
   bottom: 15px;
   left: 15px;
   font-weight: 900;

   i{
       color: #fff;
       font-style: normal;
       position: relative;
       text-transform: uppercase;
       cursor: pointer;
       &::after{
           content: "";
           width: 0;
           height: 0;
           border-top: 8px solid transparent;
           border-left: 10px solid $lightBlue;
           border-bottom: 8px solid transparent;
           position: absolute;
           top: 2px;
           right: -24px;
       }
   }

}

.forbid{
   cursor: not-allowed;
}

.actions{

   margin: 25px 0px;
   
   &.center{
      text-align: center;
   }
   &.right{
      text-align: right;
   }
}

.loadingContainer{
   position: relative;
   .loadingItem{
      background: rgba(255,255,255,0.8);
      position: absolute;
      top:0%;
      left:0%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      border-radius: 20px;
   }
}

.input-icon{
   font-size: 20px;
   position: relative;
   top: -7px;
}


.loader{
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
}


.btn-class-action{
      button{
         color: #fff !important ;
         text-transform: uppercase !important;
         font-weight: 700 !important;
      }
}

.cdk-drag-preview {
   box-sizing: border-box;
   border-radius: 4px;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
               0 8px 10px 1px rgba(0, 0, 0, 0.14),
               0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
   
.cdk-drag-placeholder {
   opacity: 0;
}

.cdk-drag-animating {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
    