<div class="pic-header"></div>
<div class="container">
    <div class="content-profile">
        <img src="assets/images/p1.jpg" >
        <div class="info-list">
            <div class="hd-list">
                <span class="text-1">Sophia Vergara</span>
                <span class="text-2">Graphic Designer</span>
            </div>
        </div>
        <div class="dots">
            <span></span>
            <span class="active"></span>
            <span></span>
        </div>
        <div class="con-info">
            <div class="con-det">
                <span class="con-val">12.7K</span>
                <span class="con-ref">Connections</span>
            </div>
            <div class="con-det">
                <span class="con-val">6K</span>
                <span class="con-ref">Posts</span>
            </div>
            <div class="con-det">
                <span class="con-val">1992</span>
                <span class="con-ref">Member since</span>
            </div>
        </div>
        <span class="navig nright">
            <i class="fal fa-chevron-right"></i>
        </span>
        <span class="navig">
            <i class="fal fa-chevron-left"></i>
        </span>

    </div>
</div>
