<span class="iftext" [routerLink]="['//home/downloadble-content']">
    <i class="fal fa-arrow-left"></i>
    RETURN
</span>
<img src="assets/images/download-slide.jpg" class="slide-pic">
<span class="sld-title"><i class="fal fa-headphones-alt"></i>Audible Books</span>

<div fxLayout="row wrap" fxLayoutAlign="space-between" style="margin-top: 30px;">
    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
        <span class="btn-download" matRipple>
            <i class="fal fa-arrow-alt-to-bottom"></i>
            Superando obstáculos
            <b>David Martin</b>
        </span>
    </div>
    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
        <span class="btn-download" matRipple>
            <i class="fal fa-arrow-alt-to-bottom"></i>
            Superando obstáculos
            <b>David Martin</b>
        </span>
    </div>
    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
        <span class="btn-download" matRipple>
            <i class="fal fa-arrow-alt-to-bottom"></i>
            Superando obstáculos
            <b>David Martin</b>
        </span>
    </div>
    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
        <span class="btn-download" matRipple>
            <i class="fal fa-arrow-alt-to-bottom"></i>
            Superando obstáculos
            <b>David Martin</b>
        </span>
    </div>
    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
        <span class="btn-download" matRipple>
            <i class="fal fa-arrow-alt-to-bottom"></i>
            Superando obstáculos
            <b>David Martin</b>
        </span>
    </div>
    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
        <span class="btn-download" matRipple>
            <i class="fal fa-arrow-alt-to-bottom"></i>
            Superando obstáculos
            <b>David Martin</b>
        </span>
    </div>
</div>
<app-footer></app-footer>