@import "src/assets/theming/global.scss";

.content{
    padding: 20px 0px;
    margin-top: 10px;
    text-align: left;
}

h2{
    font-family: MuseoSans, serif;
    color: $lightBlue;
}

::ng-deep{
    img.imgfile{
        width: 80%;
        display: block;
        margin:0px auto;
    }

    .txtimg{
        text-align: center;
        display: block;
    }
}
