<div class="message" [ngClass]="{'right' : right }">
    <span class="prof-pic">
        <img src="assets/images/p2.jpg" />
    </span>
    <span class="info">
        <div class="det-message">
            <span class="prof-name">Lucía Smith</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias excepturi corrupti
                hic ipsum laudantium! Vitae in quasi explicabo a hic non eaque nostrum ducimus id,
                repudiandae suscipit, commodi sint dolor?</p>
                <span class="date">May 25th, 2021 / 12:00 p.m.</span>
        </div>
    </span>
</div>