@import "src/assets/theming/global.scss";
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');


.message{

    padding: 20px;
    position: relative;
    
    .prof-pic{

        display: block;
        width: 50px;
        height: 50px;
        margin-right: 35px;
        position: absolute;
        border: 6px solid $lightBlue;
        border-radius: 100%;
        cursor:pointer;
        
        &::after{
            content: "";
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-left: 15px solid $lightBlue;
            border-bottom: 12px solid transparent;
            position: absolute;
            top: 15px;
            right: -30px;
        }

        img{
            width: 100%;
            border-radius: 100%;
        }
    }

    .prof-name{
        display: block;
        font-weight: 700;
        font-size: 14px;
        color:$lightBlue;
        margin-bottom: 10px !important;
    }

  

    .info{
        display: block;
        padding-left: 100px;

        .det-message{
            
            position: relative;
            background: #eee;
            padding: 15px 20px;
            border-radius: 25px;
            width: 60%;

            p{
                color:#000 !important;
                margin-bottom: 10px !important;
                font-size: 14px !important;
            }

            .date{
                text-align: right;
                display: block;
                font-size: 12px;
                opacity: 0.5;
                margin-top: 10px;
            }
        }
    }

    &.right{

        .prof-pic{
            right: 0px;
            margin-right: 20px !important;

            &::after{
                right: initial !important;
                transform: rotate(180deg);
                left:-30px !important;
            }
        }

        .info{
            padding-left: 0 !important;
            padding-right: 100px !important;

            .det-message{
                background: $lightBlue !important;
                border:1px solid $lightBlue !important;
                p{
                    color:#fff !important;
                }
            }
        }
        
        .prof-name{
            color:#fff;
            text-align: right;
        }

        .date{
            color:#fff;
            text-align: left !important;
        }

        .det-message{
            text-align: right;
            float:right;
        }
    }

}

.clear{
    clear: both;
}

.picgal{

    height:270px;
    width: 100%;
    display: block;
    background-size: cover !important;
    background-position: 50% !important;
    position: relative;
    text-decoration: none;
    border:1px solid #fff;
    .overlay{
        display: flex;
        justify-content: center;
        align-items: center;;
        background: rgba(0,0,0,0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top:0px;
        left:0px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover {
        transition: all 0.5s;
        .overlay{
            opacity: 1;
            visibility: visible;
        }
    }

    .icc{
        color: #fff;
        font-size: 42px;
    }
}

.cont-gal{
    padding: 15px 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}
