<div class="message" [ngClass]="{'right' : right }" *ngIf="data">
    <span class="prof-pic">
        <img [src]="routeFotoPerfil + data?.foto + '?alt=media'" />
    </span>
    <span class="info">
        <div class="det-message">
            <span class="prof-name">{{ data?.nombreCompleto }}</span>
            <p>{{ data?.mensaje }}</p>
                <span class="date">Posted on {{ data.fecha | date:'MMMM d, y' }} at {{ data.fecha | date:'hh:mm:ss a' }}</span>
        </div>
    </span>
</div>